* {
    margin: 10px;
    text-align: center;
    justify-content: space-evenly;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    background-color: RGB(1, 87, 155);
    justify-content: space-evenly;
    border: solid black;
    align-content: center;
}

.header1,
.footera {
    background-color: RGB(2, 136, 209);
    display: flex;
    flex-wrap: wrap;
    border: solid black;
    width: 95%;
    height: 80px;
}

.section1 {
    display: flex;
    flex-wrap: wrap;
    border: solid black;
    width: 30%;
    background-color: RGB( 2, 136, 209);
}

.section2 {
    display: flex;
    flex-wrap: wrap;
    background-color: RGB( 2, 136, 209);
    border: solid black;
    width: 60%;
}

.article {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    background-color: RGB(3, 169, 244);
    border: solid black;
    width: 100%;
}

.header2,
.footer,
.parr {
    background-color: RGB(236, 239, 241);
    border: solid black;
    width: 95%;
    height: 40px;
}

nav.arriba {
    width: 100%;
    height: 20px;
    border: solid black;
    background-color: RGB(236, 239, 241);
}

nav.abajo {
    width: 100%;
    height: 75%;
    border: solid black;
}

p.pa {
    background-color: rgb(236, 239, 241);
    border: solid black;
    width: 55%;
    height: 130px;
}

aside {
    border: solid black;
    width: 35%;
    height: 130px;
}